<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.videoweb.ying.dao.ModuleSettingMapper">

    <select id="findOne" resultType="java.util.Map">
        select id,is_enable isEnable from t_module_setting where id = #{id}
    </select>
</mapper>
